# vim: set expandtab: 
[user]
  name = Ruben Laguna
  email = ruben.laguna@gmail.com
[diff]
[color]
  ui = auto
[alias]
  st = status -sb
  ci = commit -v
  co = checkout
  di = diff
  dc = diff --cached
  amend = commit --amend
  a = add -u
  aa = add --all
  ff = merge --ff-only
  pullff = pull --ff-only
  noff = merge --no-ff
  fa = fetch --all
  pom = push origin master
  b = branch
  d = diff -w
  ds = diff --stat=160,120
  dh1 = diff HEAD~1
  di = diff

  #Divergence (commits we added and commits remote added)
  div = divergence

  #Goodness (summary of diff lines added/removed/total)
  gn = goodness
  gnc = goodness --cached

  # Fancy logging
  #   h = head
  #   hp = head with patch
  #   r = recent commits, only current branch
  #   ra = recent commits, all reachable refs
  #   l = all commits, all reachable refs

  head = !git l -1
  h = !git head
  hp = "!/bin/bash -c 'source ~/.githelpers && show_git_head'"
  r = !git l -30
  ra = !git r --all
  l = "!/bin/bash -c 'source ~/.githelpers && pretty_git_log'"
  la = !git l --all
  ctags = !.git/hooks/ctags
  standup = log --since=yesterday --author 'ecerulm\\|ruben\\|Ruben'
  lol = log --graph --decorate --pretty=oneline --abbrev-commit --all
  purr = pull --rebase
  ready = rebase -i @{u}
  rebasebranch = !git rebase -i $(git merge-base HEAD master)
  fold = !sh -c '_CURRENT_BRANCH=$(git symbolic-ref --short HEAD)  && git checkout ${1-master} && git merge --no-ff ${2-$_CURRENT_BRANCH}' -
  undomerge = reset --merge ORIG_HEAD
  diffbase = !git diff $(git merge-base HEAD master)

  # From https://robots.thoughtbot.com/streamline-your-git-workflow-with-aliases
  c = commit -m
  cob = checkout -b
  up = !git fetch origin && git rebase origin/master
  ir = !git rebase -i origin/master
  done = !git fetch && git rebase origin/master && git checkout master && git merge @{-1}

[merge] 
  tool = vimdiff
	stat = true
[http]
  sslVerify = false
[core]
  editor = vim
	excludesfile = ~/.gitignore
[init]
  templatedir = ~/.git_template
[pager]
[push]
  default = upstream
[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f
[include]
  ; need to be git 1.9.2 for includes to work
  path = .gitconfig_platform_specific
[diff]
	mnemonicprefix = true
	renames = copies
