[submodule ".vim/bundle/vim-vividchalk"]
	path = .vim/bundle/vim-vividchalk
	url = git://github.com/tpope/vim-vividchalk.git
[submodule ".vim/bundle/vim-ruby"]
	path = .vim/bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-unimpaired"]
	path = .vim/bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule ".vim/bundle/vim-clojure-static"]
	path = .vim/bundle/vim-clojure-static
	url = git://github.com/guns/vim-clojure-static.git
[submodule ".vim/bundle/vim-abolish"]
	path = .vim/bundle/vim-abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule ".vim/bundle/argtextobj.vim"]
	path = .vim/bundle/argtextobj.vim
	url = git://github.com/vim-scripts/argtextobj.vim.git
[submodule ".vim/bundle/vim-commentary"]
	path = .vim/bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule ".vim/bundle/vim-textobj-entire"]
	path = .vim/bundle/vim-textobj-entire
	url = git://github.com/kana/vim-textobj-entire.git
[submodule ".vim/bundle/vim-textobj-user"]
	path = .vim/bundle/vim-textobj-user
	url = git://github.com/kana/vim-textobj-user.git
[submodule ".vim/bundle/vim-textobj-rubyblock"]
	path = .vim/bundle/vim-textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/oblitum-rainbow.git"]
	path = .vim/bundle/oblitum-rainbow.git
	url = https://github.com/oblitum/rainbow.git
[submodule ".vim/bundle/tabular.git"]
	path = .vim/bundle/tabular.git
	url = https://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/vim-exchange.vim"]
	path = .vim/bundle/vim-exchange.vim
	url = https://github.com/tommcdo/vim-exchange.git
[submodule ".vim/bundle/gundo.vim"]
	path = .vim/bundle/gundo.vim
	url = https://github.com/sjl/gundo.vim.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/nerdtree.vim"]
	path = .vim/bundle/nerdtree.vim
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/ultisnips.git"]
	path = .vim/bundle/ultisnips.git
	url = https://github.com/SirVer/ultisnips.git
[submodule ".vim/bundle/python-mode.git"]
	path = .vim/bundle/python-mode.git
	url = git://github.com/klen/python-mode.git
[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/alternate.vim"]
	path = .vim/bundle/alternate.vim
	url = https://github.com/compactcode/alternate.vim.git
[submodule ".vim/bundle/open.vim"]
	path = .vim/bundle/open.vim
	url = https://github.com/compactcode/open.vim.git
[submodule ".vim/bundle/pytest.vim"]
	path = .vim/bundle/pytest.vim
	url = https://github.com/alfredodeza/pytest.vim.git
