# git config --global core.excludesfile ~/dotfiles/.gitignore
.vim/.netrwhist
.DS_Store
.gitconfig_platform_specific
Session.vim
.vim/systags
.vim/doc/tags
emacs.d/.recentf
emacs.d/.smex-items
emacs.d/auto-save-list/
emacs.d/backups/
emacs.d/cider-history
emacs.d/places
emacs.d/elpa
venv/
__pycache__/
*.pyc
.tox
*.egg-info/
.cache/
.eggs/
emacs.d/url/
.git
.eggs/
.lein/self-installs
emacs.d/ido.last
emacs.d/projectile-bookmarks.eld
.vim/plugged
*.class
# intellj idea workspace file contains user-specific settings https://www.jetbrains.com/help/idea/2017.3/managing-projects-under-version-control.html
*.iws
# maven target/ dir contains the build artifacts
/target/
neovim/.netrwhist
.idea
karabiner/automatic_backups
node_modules/
.env
zsh/.zsh_sessions
*.pem
