snippet d3blank
<html>
	<head>
		<script src="d3.min.js" type="text/JavaScript"></script>
	</head>
	<body>
		<div id="vizcontainer">
			<svg style="width:500px;height:500px;border:1px lightgray solid;"/>
		</div>
	</body>
</html>
endsnippet
