snippet Explorer 
:py:class:\`${1}Explorer\`${0}
endsnippet

snippet Backpack 
:py:class:\`${1}Backpack\`${0}
endsnippet

snippet Basecamp 
:py:class:\`${1}Basecamp\`${0}
endsnippet

snippet pc
:py:class:\`${1:ClassName}\`${0}
endsnippet

snippet dd
:code:\`dd\`
endsnippet
