snippet sqlquerytmpl "HugSQL query template" !b
-- :name ${1:save-message!} ${3::! :n :* :?}
-- :doc ${4:creates a new mesage usign the name, message and timestamp keys}
${5:INSERT INTO guestbook (name, message, timestamp)}
endsnippet
