snippet sqlquerytmpl "HugSQL query template" !b
-- :name ${1:save-message!} ${3::! :n :* :?}
-- :doc ${4:creates a new mesage usign the name, message and timestamp keys}
INSERT INTO ${5:guestbook} (${6:name, message,timestamp})
endsnippet
