snippet cventry "cventry" !b
\cventry
{$1} % Job title
{$2} % Organization
{$3} % Location
{$4} % Date(s)
{
	\begin{cvitems} % Description bullet points
	\item {$5}
	\end{cvitems}
}
$0
endsnippet

snippet cvitem "item" !b
\item {$0}
endsnippet

snippet list "begin{itemize}" !b
\begin{itemize}
	\item $0
\end{itemize}
endsnippet

snippet minipage "begin{minipage}" !b
\begin{minipage}[t]{0.4\textwidth} % https://en.wikibooks.org/wiki/LaTeX/Boxes#minipage_and_parbox
$0
\end{minipage}
endsnippet
