snippet ti "Inline tag" !b
<${1:tag}>${2:content}</$1>
endsnippet

snippet apacheproperty "<property>...</property" !b
<property>
	<name>$1</name>
	<value>$2</value>
	<description>$3</description>
</property>
$0
endsnippet
